
/* -------------------------- Base Styles & Variables -------------------------- */

html {
    --grey: #e7e7e7;
    --gray: var(--grey);
    --blue: #0072B9;
    --pink: #D60087;
    --yellow: #ffc600;
    --black: #2e2e2e;
    --red: #c73737;
    --green: #61e846;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    line-height: 1.5;
    background-color: var(--blue);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 21.184c.13.357.264.72.402 1.088l.661 1.768C4.653 33.64 6 39.647 6 50c0 10.271-1.222 15.362-4.928 24.629-.383.955-.74 1.869-1.072 2.75v6.225c.73-2.51 1.691-5.139 2.928-8.233C6.722 65.888 8 60.562 8 50c0-10.626-1.397-16.855-5.063-26.66l-.662-1.767C1.352 19.098.601 16.913 0 14.85v6.335zm20 0C17.108 13.258 16 8.077 16 0h2c0 5.744.574 9.951 2 14.85v6.334zm0 56.195c-2.966 7.86-4 13.123-4 22.621h2c0-6.842.542-11.386 2-16.396v-6.225zM6 0c0 8.44 1.21 13.718 4.402 22.272l.661 1.768C14.653 33.64 16 39.647 16 50c0 10.271-1.222 15.362-4.928 24.629C7.278 84.112 6 89.438 6 100h2c0-10.271 1.222-15.362 4.928-24.629C16.722 65.888 18 60.562 18 50c0-10.626-1.397-16.855-5.063-26.66l-.662-1.767C9.16 13.223 8 8.163 8 0H6z' fill='%23fff' fill-rule='nonzero' fill-opacity='.1' opacity='.349'/%3E%3C/svg%3E%0A");
    background-size: 15px;
}

a.button, button, input[type="button"] {
    color: white;
    background: var(--pink);
    padding: 1rem;
    border: 0;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    font-size:2rem;
    border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  margin-top: 0;
  line-height: 1;
  text-shadow: var(--text-shadow);
}

/* -------------------------- Top Navigation -------------------------- */

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    min-height: 52px;
}

.topnav #navLogo {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

.topnav #navLogo > span {
    background-color: var(--pink);
    color: white;
    border-radius: 10px;
    display: block;
    float: left;
    text-align: center;

    margin: 11px 3px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 1rem;
}

.topnav button {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #333;
    border-radius: 0;
    float: right;
}

.topnav button:hover {
    background-color: #ddd;
    color: black;
}

.topnav button.icon {
    display: none;
}

.topnav button.icon:hover {
    background-color: white;
    color: black;
}

.topnav #navEndGameButton {
    display: none;
}


/* -------------------------- Start Screen -------------------------- */

#startScreen {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-gap: 30px;
    margin-top: 50px;
}

#logoWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

#logoWrapper > span {
    background-color: var(--yellow);
    color: var(--red);
    border-radius: 10px;
    width: 125px;
    height: 125px;
    line-height: 125px;
    text-align: center;
    font-size: 85px;
    text-decoration: none;
    font-weight: 600;
    margin: 10px 20px 10px 20px;
}

#startScreen > h1 {
    font-size: 80px;
    margin: 0;
    letter-spacing: 5px;
    font-style: italic;
}

#startScreen .startPlayingButton {
    background: green;
    border: 3px solid white;
    font-size: 3.2rem;
    margin: 50px 0 30px 0;
}

#startScreen .startPlayingButton:hover {
    border: 3px solid green;
    background: var(--yellow);
    color: green;
}

#startScreen .yahtzeeRulesButton, #startScreen .howSiteWorksButton {
    width: 270px;
}

#startScreen .yahtzeeRulesButton:hover, #startScreen .howSiteWorksButton:hover {
    background-color: var(--yellow);
    color: var(--pink);
}


/* -------------------------- //#startScreen -------------------------- */



/* -------------------------- Modals -------------------------- */


.modal-outer {
    display: grid;
    background: hsla(0, 0%, 0%, 0.7);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    /* Hide modal until needed */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.modal-outer.open {
    opacity: 1;
    pointer-events: all;
}

.modal-inner {
    max-width: 600px;
    min-width: 400px;
    padding: 2rem;
    border-radius: 5px;
    min-height: 200px;
    background: white;
    transform: translateY(-200%);
    transition: transform 2s;
}

.modal-outer.open .modal-inner {
    transform: translateY(0);
}


/* -------------------------- //.modals -------------------------- */



/* -------------------------- MEDIA QUERIES -------------------------- */

@media screen and (max-width: 1200px) {

    /* Start Screen */

    #logoWrapper > span {
        width: 90px;
        height: 90px;
        line-height: 90px;
        font-size: 70px;
        margin: 7px;
    }

    #startScreen > h1 {
        font-size: 70px;
    }    
    
    #startScreen .startPlayingButton {
        font-size: 2.5rem;
        margin: 50px 0 30px 0;
    }
    
    #startScreen .yahtzeeRulesButton, #startScreen .howSiteWorksButton {
        width: 220px;
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 992px) {
    
    /* Top navigation */

    .topnav #navLinks {
        display: none;
    }

    .topnav #navLogo {
        float: none;
        margin-right: 0;
        margin-left: 5px;
    }

    .topnav .navLink {
        clear:both;
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }

    .topnav button.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav #navStartGameButton {
        background-color: #4CAF50;
        color: white;
    }

}
    
@media screen and (max-width: 780px) {
 
    /* Start Screen */

    #logoWrapper > span {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 50px;
        margin: 5px;
    }

    #startScreen > h1 {
        font-size: 50px;
        text-align: center;
    }

    #startScreen > h1 > .blankSpace {
        display: none;
    }
    
}

@media screen and (max-width: 400px) {

    /* Start Screen */

    #startScreen {
        grid-gap: 20px;
        margin-top: 30px;
    }

    #logoWrapper > span {
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 30px;
        margin: 5px;
    }

    #startScreen > h1 {
        font-size: 40px;
    }

    #startScreen .startPlayingButton {
        font-size: 1.5rem;
        margin: 10px 0 0 0;
    }
    
    #startScreen .yahtzeeRulesButton, #startScreen .howSiteWorksButton {
        width: 170px;
        font-size: 1.2rem;
    }

}

/* -------------------------- //.mediaQueries -------------------------- */